<!DOCTYPE html>
<html>
<head>
<title>{{data.name}}</title>
</head>
<body>


<div>


  <div>

    <div>

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
        <img src="{{data.image.url}}" alt="" width="250" height="350">
          <div class="w3-display-bottomleft w3-container w3-text-black">

          </div>
        </div>
        <div class="w3-container">
        <h2>{{data.name}} {{data.surname}}</h2>
          <h4>{{data.group}}</h4>
          <hr>


          <br>
        </div>
      </div><br>
        </div>
      </div>

    </div>


<footer>
</footer>

</body>
</html>
